@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: vagron;
  src: url(./assets/fonts/VAGRON.TTF);
}

@font-face {
  font-family: opensans;
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: vagron;
}

.about {
  font-family: opensans !important;
}


.swiper-pagination-bullet-active {
  background-color: #FFAB3B !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
}

